@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color variables */
:root {
  --floral-white: #f8f7f0;
  --powder-blue: #95B7CA;
  --force-blue: #4C7F9A;
  --sunset: #EFCD9F;
  --yellow: #F0C16B;
}

html {
  scroll-behavior: smooth;
  scroll-snap-align: start;
}

#app, body {
  font-weight: normal;
  background-color: var(--floral-white);
  font-family: 'Montserrat Alternates', sans-serif;
  color: var(--force-blue);
}

.bg-floral {
  background-color: var(--floral-white);
}

.bg-sunset {
  background-color: var(--sunset);
} 

.bg-powder {
  background-color: var(--powder-blue);
} 

h1 {
  font-size: 2rem;
  font-family: "Shadows Into Light Two", serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-size: 2rem;
  font-family: "Shadows Into Light Two", serif;
  margin-bottom: 1.2rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
}

h2 {
  font-size: 5rem;
  font-weight: 600;
  font-style: normal;
  color: var(--yellow);
  line-height: 1;
  letter-spacing: -12px;
}

h4 {
  font-size: 1.5em;
  font-weight: 600;
  font-style: normal;
  color: var(--yellow);
  line-height: 1;
}

p {
  font-size: 0.95rem;
  font-weight: 400;
  font-style: normal;
}
.color-text-primary {
  color: var(--force-blue);
} 
.color-text-primary-light {
  color: var(--powder-blue);
} 
.color-text-secondary {
  color: var(--yellow);
} 


@media only screen and (min-width: 768px) {
  .border-page {
    border-right: 1px dashed #EFCD9F;
  }
  h1 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h2 {
    font-size: 6.2em;
  }
  h4 {
    font-size: 1.5em;
  }
  
}
  


.layout-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.column {
  flex: 1;
}


